h1{
 color:red;
    font-family:cursive; 
    font-size: 6em; 
    
    
}

p{ 
color: crimson;
    font-family: cursive;
    margin-left: 10%;
font-size: 4em;


}
   



    
    
.page3{background-color:black;}

.page2bodytext{
    font-size:3.5em;
    
}
a .dogimage{ 
margin-left: 50%;

}